body {
    background-color: rgb(180, 176, 176);
    font-family: sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.input-group {
    margin: 30px 0px;
    position: relative;
}

form {
    background-color: white;
    border-radius: 30px;
    padding: 70px 50px;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
}

form h2 {
    text-align: center;
    font-weight: 4000;
    user-select: none;
}

form input {
    border: none;
    border-bottom: 1px solid blue;
    outline: none;
    padding: 6px 4px;
}

form label {
    position: absolute;
    top: 0px;
    left: 0px;
    font-weight: 40;
    color: gray;
    user-select: none;
    transition: 100ms;
}

input:focus+label,
input:valid+label {
    top: -18px;
    font-weight: 500;
    color: rgb(96, 96, 170);
}

form button {
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
    border: none;
    border-radius: 50px;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    outline: none;
}

form button:hover {
    color: blue;
}

form p {
    padding: 10px;
    color: rgb(167, 151, 151);
}